.credit-card-container {
  background-color: #e0eddb;
  width: 600px;
  height: 300px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.credit-card-container input {
  outline: none;
  background-color: #ffffff;
  border: hidden;
  margin: 5px;
  padding: 5px;
  font-size: 30px;
  color: #000000;
  border-radius: 5px;
}

.credit-card_bank-name {
  color: #7178e4;
  margin: 0 0 80px;
}

.credit-card_card-number {
  width: 90%;
  text-align: center;
}

.credit-card_valid-text {
  margin: 0;
  display: inline-block;
  color: #757575;
  width: 15%;
  text-align: center;
}

.credit-card_card-valid-month,
.credit-card_card-valid-year {
  width: 20%;
  text-align: center;
}

.credit-card_card-owner-name,
.credit-card_card-owner-surname {
  width: 35%;
  text-align: start;
}

.credit-card_card-type {
  color: #7178e4;
  max-width: 20%;
  display: inline-block;
  margin: 0;
  text-align: center;
  font-size: 20px;
}

.credit-card_submit-button {
  width: 110px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #5ac65a;
  color: #ffffff;
  outline: none;
  border: hidden;
  transition: 500ms;
}

.credit-card_submit-button:hover {
  background-color: #ffffff;
  color: #5ac65a;
}
