@import "./components/timer/timer.css";
@import "./components/creditCard/creditCard.css";

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}
